<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-antonio-saenz/blob/main/assignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment02 for GitJobish02 and edited in git, and 18')

assignment02 for GitJobish02 and edited in git, and 18

In [ ]:
## Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
#!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

('Example1.txt', <http.client.HTTPMessage at 0x7f371841b8d0>)

In [ ]:
file1 = open(filename, "r")

In [ ]:
# Print the path of file

file1.name

'Example1.txt'

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

## **A Better Way to Open a File**
Using the with statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
# Open file using with

with open(filename, "r") as file1:  #aquí opté por usar la misma variable filename en todo el lab, por facilidad
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Verify if the file is closed

file1.closed

True

In [ ]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Read first four characters

with open(filename, "r") as file1:
    print(file1.read(4))

This

In [ ]:
# Read certain amount of characters

with open(filename, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

*En la siguiente imágen se explica mediante colores cada llamada del bloque anterior, entiendo por qué obtenemos dicha salida. Importante resaltar que podemos leer un caracter de salto de línea y este se verá reflejado tal cual en la salida (en este caso al hacer print):*

![image.png]()

In [ ]:
# Read certain amount of characters

with open(filename, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# Read one line

with open(filename, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
with open(filename, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [ ]:
# Iterate through the lines

with open(filename,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Read all lines and save as a list

with open(filename, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [ ]:
FileasList[1]

'This is line 2\n'

In [ ]:
FileasList[2]

'This is line 3'

**---------- FIN DE LAB 4-01 ---------**

**---------- INICIO DE LAB 4-02 ---------**

In [4]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [18]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [19]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [20]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [21]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [22]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [23]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

**Appending Files**

In [24]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [25]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

**Additional modes**

It's fairly ineffecient to open the file in a or w and then reopening it in r to read any lines. Luckily we can access the file in the following modes:

*   r+ : Reading and writing. Cannot truncate the file.
*   w+ : Writing and reading. Truncates the file.
*   a+ : Appending and Reading. Creates a new file, if none exists.

You dont have to dwell on the specifics of each mode for this lab.

In [28]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read()) # se espera no tener salida ya que el puntero queda al final del archivo tras escribir

In [29]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 100
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E
This is line E
This is line E

Location after read: 100

In [33]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

**Copy a File**

In [34]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [35]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

**Exercise **

In [40]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [42]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    # TODO: Open the currentMem file as in r+ mode
    with open(currentMem,'r+') as writeFile: 
        #TODO: Open the exMem file in a+ mode
        with open(exMem,'a+') as appendFile:
        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.
          writeFile.seek(0)
          members = writeFile.readlines()
          header = members[0]
          members.pop(0)

        #TODO: iterate through the members and create a new list of the innactive members
          inactive = []
          for member in members:
            if 'no' in member:
              inactive.append(member)

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem
          writeFile.seek(0) 
          writeFile.write(header)
          for member in members:
              if (member in inactive):
                  appendFile.write(member)
              else:
                  writeFile.write(member)      
          writeFile.truncate()

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    97848      2019-11-7    yes
    88358      2015-5-13    yes
    39822      2020-9-14    yes
    10548      2016-12-19   yes
    78826      2018-3-23    yes
    28298      2019-3-20    yes
    96680      2020-8-10    yes
    92402      2016-11-17   yes
    81144      2018-11-8    yes

Inactive Members:


Membership No  Date Joined  Active
    66142      2016-10-15   no
    58981      2016-1-22    no
    35835      2016-5-12    no
    75235      2016-11-22   no
    75235      2016-11-22   no
    24006      2017-2-18    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    86731      2019-6-10    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    86731      2019-6-10    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    86731      2019-6-10    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    86731      2019-6-10    no
    75235      2016-11-22   no
    24006      2017-2-18    no
    83827      2018-7-19    no
    27253      2018-10-15   no
    45197      2018-3-6     no
    11607      2018-5-17    no
    21818      2020-9-19    no
    15074      2016-11-22   no
    29223      2016-8-14    no
    77762      2017-7-5     no
    86731      2019-6-10    no

In [43]:
# Code to verify the given solution

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

**---------- FIN DE LAB 4-02 ---------**

**---------- INICIO DE LAB 4-03 ---------**

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [2]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [3]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [44]:
# Read data from CSV file

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [45]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [48]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [49]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [50]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [51]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [52]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [53]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [54]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [55]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [56]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [57]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [58]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [59]:
new_index=['a','b','c','d','e','f','g','h']

In [60]:
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [62]:
df.iloc[1,0]

'AC/DC'

In [63]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [64]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [65]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [68]:
with open("Example2.txt","r") as file1:

  FileContent=file1.readlines()

  print(FileContent)

['Line 1\n', 'Line 2\n', 'Line 3\n', 'finished\n']

In [ ]:
with open("Example2.txt","w") as writefile:

  writefile.write("This is line A\n")

  writefile.write("This is line B\n")

![image.png]()